.paragraph--default {
  color: white;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-weight: 400;
  line-height: clamp(14.6px, 1.520736vw, 58.4px);
}

.paragraph--card {
  text-align: left;
  color: white;
  font-size: clamp(10px, 1.0416vw, 40px);
  font-weight: 400;
  line-height: clamp(16.22px, 1.6894752vw, 64.88px);
  word-wrap: break-word;
}

@media only screen and (max-width: 767px) {
  .paragraph--default {
    color: white;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-weight: 400;
    line-height: clamp(14.6px, 6.8222879999999995vw, 58.4px);
  }
  .paragraph--card {
    text-align: left;
    color: white;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-weight: 400;
    line-height: clamp(16.22px, 7.579281599999999vw, 64.88px);
    word-wrap: break-word;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .paragraph--default {
    color: white;
    font-size: clamp(9px, 1.7578125vw, 36px);
    font-weight: 400;
    line-height: clamp(14.6px, 2.8515625vw, 58.4px);
  }
  .paragraph--card {
    text-align: left;
    color: white;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-weight: 400;
    line-height: clamp(16.22px, 7.579281599999999vw, 64.88px);
    word-wrap: break-word;
  }
}
