.paragraph--default {
  width: 441px;
  height: 203px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.2px;
  word-wrap: break-word;
}

.paragraph--card {
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.44px;
  word-wrap: break-word;
}
