.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 86.6%;
    @apply mt-52;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
  }
  &__flour_card {
    @apply mt-56;
  }
}

@media only screen and (max-width: 767px) {
  .products {
    width: 100%;
    // margin-top: clamp(450px, 210.27599999999998vw, 1800px);
    &__content {
      width: 90%;
    }
    &__flour_card {
      margin-top: clamp(265px, 123.82919999999999vw, 1060px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .products {
    width: 100%;

    &__content {
      width: 90%;
    }
    &__flour_card {
      margin-top: clamp(150px, 29.296875vw, 600px);
    }
  }
}
