.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 86.6%;
    @apply mt-52;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .products {
    width: 100%;
    margin-top: clamp(650px, 303.73199999999997vw, 2600px);
    &__content {
      width: 90%;
    }
  }
}
