.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 90%;
    @apply mt-52;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__flower {
    position: relative;
  }
}
