.about {
  width: 100%;
  margin-top: clamp(37.5px, 3.906vw, 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  &__text {
    @apply mt-16;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_paragraph {
      @apply mt-4;
      text-align: center;
      width: clamp(220.5px, 22.96728vw, 882px);
      height: clamp(101.5px, 10.57224vw, 406px);
    }
  }

  &__flower_cards {
    @apply mt-32;
    display: flex;
    flex-direction: row;
    height: clamp(394px, 41.03904vw, 1576px);
    overflow: visible;
  }
  &__flower_card {
    position: relative;
    width: clamp(203.5px, 21.19656vw, 814px);
    background-position: center;
    background-size: cover;
  }

  &__flower_picture {
    position: relative;
  }

  &__card_text_section {
    position: absolute;
    top: 0px;
    @apply p-6;
  }
  &__card_text {
    @apply mt-1;
    color: white;
    font-size: clamp(16px, 1.66656vw, 64px);
    font-weight: 400;
  }
}

.fade {
  height: clamp(394px, 41.03904vw, 1576px);
}
