.about {
  width: 100%;
  margin-top: clamp(37.5px, 3.906vw, 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    width: 86.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  &__text {
    @apply mt-16;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_paragraph {
      width: 60%;
      margin: auto;
      @apply mt-4;
      text-align: center;
      height: clamp(101.5px, 10.57224vw, 406px);
    }
  }

  &__flower_cards {
    @apply mt-32;
    display: flex;
    flex-direction: row;
    height: clamp(394px, 41.03904vw, 1576px);
  }
  &__flower_card {
    position: relative;
    background-position: center;
    background-size: cover;
  }

  &__flower_picture {
    position: relative;
  }

  &__card_text_section {
    position: absolute;
    top: 0px;
    @apply p-6;
  }

  &__card_text_card {
    width: clamp(175px, 18.228vw, 700px);
  }

  &__card_text {
    @apply mt-1;
    color: white;
    font-size: clamp(16px, 1.66656vw, 64px);
    font-weight: 400;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    margin-top: clamp(45px, 21.0276vw, 180px);
    width: 100%;
    &__content {
      width: 90%;
      height: 150vh !important;
    }
    &__text {
      @apply mt-16;
      flex-direction: column;
      text-align: center;
      &_paragraph {
        @apply mt-4;
        text-align: center;
        width: clamp(185px, 86.4468vw, 740px);
      }
    }
    &__flower_cards {
      @apply mt-36;
      display: flex;
      flex-direction: column;
      height: auto;
    }
    &__flower_card {
      @apply mt-12;
      width: clamp(190px, 88.7832vw, 760px);
    }
    &__card_text_section {
      @apply p-5;
    }
    &__card_text {
      font-size: clamp(16px, 7.47648vw, 64px);
    }
    &__card_text_card {
      width: clamp(100px, 46.727999999999994vw, 400px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about {
    margin-top: clamp(100px, 19.53125vw, 400px);
    width: 100%;
    &__content {
      width: 90%;
      height: 80vh;
    }
    &__text {
      @apply mt-16;
      flex-direction: column;
      text-align: center;
      &_paragraph {
        @apply mt-4;
        text-align: center;
        width: clamp(220px, 42.96875vw, 880px);
      }
    }
    &__flower_cards {
      display: flex;
      flex-direction: row;
      height: clamp(125px, 24.4140625vw, 500px);
    }
    &__flower_card {
      @apply mt-12;
      width: clamp(150px, 29.296875vw, 600px);
    }
    &__card_text_section {
      @apply p-5;
    }
    &__card_text {
      font-size: clamp(14px, 2.734375vw, 56px);
    }
    &__card_text_hidden {
      opacity: 1;
    }
  }
}
