.form {
  @apply mt-12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__input_phone {
    @apply mt-14;
  }
  &__submit_button {
    @apply mt-5;
  }

  .error {
    @apply mt-4;
    font-weight: 400;
    font-size: 15px;
    color: red;
  }
}
