.button {
  @apply mt-8;
  width: clamp(129px, 13.43664vw, 516px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  color: #fff;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-weight: 400;
  border-radius: clamp(100px, 46.727999999999994vw, 400px);
  transition: background-size 0.5s ease;
}

.filled {
  @extend .button;
  color: white;
  background-color: #d25127;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    scale: 1.02;
    background-position: 0, 0;
    background-color: #a63e1f;
  }
}

@media only screen and (max-width: 767px) {
  .button {
    width: clamp(120px, 56.0736vw, 480px);
    height: clamp(27px, 12.61656vw, 108px);
    font-size: clamp(9px, 4.20552vw, 36px);
  }
}
