.button {
  @apply mt-8;
  width: clamp(129px, 13.43664vw, 516px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  color: #fff;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 200px;
  transition: background-size 0.5s ease;
}

.filled {
  @extend .button;
  color: white;
  background: linear-gradient(92deg, #ef7f1a 5.92%, #e74623 112.8%);
  background-size: 200% 100%;
  background-position: 100% 0;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    scale: 1.02;
    background-position: 0, 0;
  }
}
