.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    @apply mt-8;
    @apply mb-8;
  }

  &__content_links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 999;
    bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: clamp(15px, 1.5624vw, 60px);
    padding-bottom: clamp(15px, 1.5624vw, 60px);
  }
}
