.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86.6%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__content_links {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    z-index: 999;
    bottom: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: clamp(15px, 1.5624vw, 60px);
    padding-bottom: clamp(15px, 1.5624vw, 60px);
  }

  @media only screen and (max-width: 767px) {
    .header {
      width: 100%;

      &__content {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      &__content_links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 999;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        margin-right: auto;
        margin-left: auto;
        padding-top: clamp(15px, 7.0092vw, 60px);
        padding-bottom: clamp(15px, 7.0092vw, 60px);
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .header {
      width: 100%;

      &__content {
        width: 90%;
        padding-bottom: clamp(12px, 0.5859375vw, 24px);
      }

      &__content_links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        z-index: 999;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        margin-right: auto;
        margin-left: auto;
        padding-top: clamp(14px, 2.734375vw, 56px);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100%;

    &__content {
      width: 90%;
      padding-bottom: clamp(12px, 3.125vw, 48px);
    }

    &__content_links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      z-index: 999;
      left: 0%;
      top: 0%;
      right: 0%;
      bottom: auto;
      margin-right: auto;
      margin-left: auto;
      padding-top: clamp(14px, 3.6458333333333335vw, 56px);
    }
  }
}
