.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.5);
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    @apply mt-8;
    @apply mb-8;
  }

  &__content_links {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 999;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
