.contact_link {
  display: flex;
  align-items: center;
  transition: 0.3s all;
  @apply text-xl;
  @apply gap-2;
  @apply text-white;

  &__icon {
    @apply text-xl;
    @apply text-primary-red-text;
  }

  &:hover {
    @apply text-primary-red-text;
  }
}
