.main {
  display: flex;
  justify-content: center;
  width: 100%;

  &__content {
    width: 86.6%;
    display: flex;
    justify-content: center;
    height: 90vh;
    overflow-x: hidden;
  }
  &__content_logo {
    display: flex;
    justify-content: center;
    @apply mt-36;
    width: clamp(250px, 26.04vw, 1000px);
    height: clamp(225px, 23.436vw, 900px);
  }
}

@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    &__content {
      width: 90%;
      height: 75vh;
      @apply mb-52;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    &__content {
      display: flex;
      justify-content: center;
      height: 90vh;
      overflow-x: hidden;
      width: 90%;
    }
    &__content_logo {
      @apply mt-16;
      width: clamp(200px, 39.0625vw, 800px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    &__content {
      width: 90%;
      @apply mt-36;
      display: flex;
      justify-content: center;
      height: 90vh;
      overflow-x: hidden;
    }
    &__content_logo {
      @apply mt-16;
      width: clamp(180px, 46.875vw, 720px);
    }
  }
}
