.input_container {
  width: clamp(150px, 15.624vw, 600px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid #d25127;

  &__label {
    position: absolute;
    font-size: clamp(9px, 0.93744vw, 36px);
    z-index: -1;
    @apply bottom-1;
    @apply left-2;
    @apply text-primary-red-text;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: clamp(9px, 0.93744vw, 36px);
    z-index: 1;
    @apply pl-2;
    @apply pb-1;
    color: #fff;
  }
}
