.card {
  position: relative;

  .default {
    position: absolute;
    top: 0;
    width: clamp(550px, 57.288000000000004vw, 2200px);
    height: clamp(470px, 48.9552vw, 1880px);
    left: clamp(415px, 43.2264vw, 1660px);
  }
  .special {
    position: absolute;
    top: 0;
    width: clamp(400px, 41.664vw, 1600px);
    height: clamp(470px, 48.9552vw, 1880px);
    left: clamp(512.5px, 53.382vw, 2050px);
  }
  .king {
    position: absolute;
    top: 0;
    width: clamp(400px, 41.664vw, 1600px);
    height: clamp(200px, 93.45599999999999vw, 800px);
    left: clamp(512.5px, 53.382vw, 2050px);
  }
}

@media only screen and (max-width: 767px) {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .default {
      position: absolute;
      top: clamp(345px, 161.2116vw, 1380px);
      width: clamp(200px, 93.45599999999999vw, 800px);
      height: clamp(200px, 93.45599999999999vw, 800px);
      left: -0.85px;
    }
    .special {
      position: absolute;
      top: clamp(350px, 163.548vw, 1400px);
      width: clamp(200px, 93.45599999999999vw, 800px);
      height: clamp(200px, 93.45599999999999vw, 800px);
      left: -0.85px;
    }
    .king {
      position: absolute;
      top: clamp(285px, 133.1748vw, 1140px);
      width: clamp(200px, 93.45599999999999vw, 800px);
      height: clamp(200px, 93.45599999999999vw, 800px);
      left: -0.85px;
    }
  }
}
