.card {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  .default {
    position: absolute;
    top: 0;
    width: clamp(400px, 41.664vw, 1600px);
    height: clamp(400px, 41.664vw, 1600px);
    left: clamp(415px, 43.2264vw, 1660px);
  }
}

@media only screen and (max-width: 767px) {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .default {
      position: static !important;
      width: clamp(200px, 93.45599999999999vw, 800px);
      height: clamp(200px, 93.45599999999999vw, 800px);
      left: -0.85px;
      @apply mt-8;
    }
  }
}

// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//   .card {
//     position: relative;

//     .default {
//       position: absolute;
//       top: 20px;
//       width: clamp(300px, 58.59375vw, 1200px);
//       height: clamp(470px, 48.9552vw, 1880px);
//       left: clamp(415px, 43.2264vw, 1660px);
//     }
//     .special {
//       position: absolute;
//       top: 0;
//       width: clamp(400px, 41.664vw, 1600px);
//       height: clamp(470px, 48.9552vw, 1880px);
//       left: clamp(512.5px, 53.382vw, 2050px);
//     }
//     .king {
//       position: absolute;
//       top: 0;
//       width: clamp(400px, 41.664vw, 1600px);
//       height: clamp(200px, 93.45599999999999vw, 800px);
//       left: clamp(512.5px, 53.382vw, 2050px);
//     }
//   }
// }
