.card {
  position: relative;

  .default {
    position: absolute;
    top: 0;
    width: 1100px;
    height: 940px;
    left: 830px;
  }
  .special {
    position: absolute;
    top: 0;
    width: 800px;
    height: 940px;
    left: 1025px;
  }
}
