@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

#root {
  overflow-x: hidden !important;
}

button {
  cursor: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
