%indicator--common {
  width: clamp(285px, 29.6856vw, 1140px);
  height: clamp(31.5px, 3.28104vw, 126px);
  display: flex;
  flex-direction: row;
  text-align: center;
}

.main_text {
  color: #223137;
  font-size: clamp(14px, 1.45824vw, 56px);
  font-weight: 800;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_text {
  @apply text-primary-white-text;
  padding-left: clamp(10px, 1.0416vw, 40px);
  font-size: clamp(11px, 1.1457600000000001vw, 44px);
  font-weight: 800;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator--yellow {
  @extend %indicator--common;
  background-color: #846d26;

  .indicator--light-yellow {
    width: 0%;
    background-color: #f9bc21;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out;
  }
}

.indicator--darken-yellow {
  @extend %indicator--common;
  background-color: #785725;

  .indicator--light-darken-yellow {
    width: 0%;
    background-color: #e08e20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.6s ease-in-out;
  }
}

.indicator--orange {
  @extend %indicator--common;
  background-color: #734728;

  .indicator--light-orange {
    width: 0%;
    background-color: #d56b25;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.7s ease-in-out;
  }
}

.indicator--darken-orange {
  @extend %indicator--common;
  background-color: #7a3f28;

  .indicator--light-darken-orange {
    width: 0%;
    background-color: #e35c25;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.8s ease-in-out;
  }
}

.indicator--light-red {
  @extend %indicator--common;
  background-color: #6d3629;

  .indicator--light-light-red {
    width: 0%;
    background-color: #c94827;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.9s ease-in-out;
  }
}

.indicator--red {
  @extend %indicator--common;
  background-color: #5a2f26;

  .indicator--light-red {
    width: 0%;
    background-color: #ac2b24;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease-in-out;
  }
}

.indicator--darken-red {
  @extend %indicator--common;
  background-color: #47221b;

  .indicator--light-darken-red {
    width: 0%;
    background-color: #90241a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1.1s ease-in-out;
  }
}

@media only screen and (max-width: 767px) {
  %indicator--common {
    width: clamp(175px, 81.774vw, 700px);
    height: clamp(20px, 9.3456vw, 80px);
  }

  .main_text {
    color: #223137;
    font-size: clamp(10px, 4.6728vw, 40px);
  }

  .second_text {
    font-size: clamp(7.5px, 3.5046vw, 30px);
  }
}
