.linktext {
  @apply text-indicators-light-dark-text;
  font-size: clamp(11px, 1.1457600000000001vw, 44px);
  font-weight: 500;
  transition: 0.3s ease-in-out;
  &:hover {
    @apply text-primary-darken;
  }
}
