.separator--red {
  width: clamp(233.5px, 24.321360000000002vw, 934px);
  height: clamp(1px, 0.10416vw, 4px);
  background-color: #d25127;
  border: none;
  outline: none;
}

.separator--dark-red {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: #a63222;
  border: none;
  outline: none;
}

.separator--yellow {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: yellow;
  border: none;
  outline: none;
}

.separator--orange {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: #f38810;
  border: none;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .separator--red {
    width: clamp(160px, 74.7648vw, 640px);
    height: clamp(1px, 0.46728vw, 4px);
  }
  .separator--dark-red {
    width: clamp(140px, 65.41919999999999vw, 560px);
    height: clamp(1px, 0.46728vw, 4px);
  }

  .separator--yellow {
    width: clamp(140px, 65.41919999999999vw, 560px);
    height: clamp(1px, 0.46728vw, 4px);
  }

  .separator--orange {
    width: clamp(140px, 65.41919999999999vw, 560px);
    height: clamp(1px, 0.46728vw, 4px);
  }
  // .separator--red-small {
  //   width: clamp(233.5px, 24.321360000000002vw, 934px);
  //   height: clamp(1px, 0.10416vw, 4px);
  //   background-color: #d25127;
  //   border: none;
  //   outline: none;
  // }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .separator--red {
    width: clamp(230px, 44.921875vw, 920px);
    height: clamp(1px, 0.1953125vw, 4px);
  }
  .separator--dark-red {
    width: clamp(115px, 22.4609375vw, 460px);
    height: clamp(1px, 0.1953125vw, 4px);
  }

  .separator--yellow {
    width: clamp(115px, 22.4609375vw, 460px);
    height: clamp(1px, 0.1953125vw, 4px);
  }

  .separator--orange {
    width: clamp(115px, 22.4609375vw, 460px);
    height: clamp(1px, 0.1953125vw, 4px);
  }
}
