.separator--red {
  width: clamp(233.5px, 24.321360000000002vw, 934px);
  height: clamp(1px, 0.10416vw, 4px);
  background-color: #d25127;
  border: none;
  outline: none;
}

.separator--dark-red {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: #a63222;
  border: none;
  outline: none;
}

.separator--yellow {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: yellow;
  border: none;
  outline: none;
}

.separator--orange {
  width: clamp(135.5px, 14.11368vw, 542px);
  height: clamp(1px, 0.10416vw, 4px);
  background: #f38810;
  border: none;
  outline: none;
}
