.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.modal_window {
  width: clamp(350px, 36.456vw, 1400px);
  height: clamp(200px, 20.832vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;

  &__logo {
    width: clamp(45px, 4.6872vw, 180px);
    height: clamp(45px, 4.6872vw, 180px);
  }

  &__text {
    font-size: clamp(20px, 2.0832vw, 80px);
    font-weight: 600;
    color: #d25127;
    margin-top: 16px;
  }

  &__sub_text {
    font-size: clamp(10.5px, 1.09368vw, 42px);
    font-weight: 500;
    color: #d25127;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
