%heading-common {
  font-weight: 800;
  text-transform: uppercase;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading--primary {
  @extend %heading-common;
  @apply text-primary-red-text;
  font-size: clamp(30px, 3.1248vw, 120px);
}

.heading--secondary {
  font-weight: 800;
  text-transform: uppercase;
  @apply text-white;
  font-size: clamp(30px, 3.1248vw, 120px);
  width: 45%;
}

.heading--secondary--small {
  @extend %heading-common;
  @apply text-white;
  font-size: clamp(17.5px, 1.8228vw, 70px);
}
